/*
  Block Definitions
*/

header{
	border: 3px solid #e860fc;
	border-radius: 3px;
	background-color: #a70e78;
	width: 80%;
	height: 100px;
}

/*
  Class
*/

.menuContent{
	font-style: Georgia;
	background-color: #38FF6F;
	border: 3px solid #e860fc;
	border-radius: 3px;
}

.menuBarItem{
	background-color: #27CDE8;
	border: 3px solid #e860fc;
	border-radius: 3px;
	float: left;
}

/*
  Id
*/

#mainContainer{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#canvasContainer{
	width: 500px;
	height: 500px;
}

#aboutPage{
	font-style: "Times New Roman";
	width: 80%;
}

#gamePage{
	font-style: "Times New Roman";
	width: 100px;
	height: 100px;
}

#backGround{
	z-index: -1;
}