/*
  Block Definitions
*/

header{
	border: 3px solid #e860fc;
	border-radius: 3px;
	background-color: #a70e78;
	height: 100px;
}

/*
  Class
*/

.menuContent{
	font-style: Georgia;
	background-color: #38FF6F;
	border: 3px solid #e860fc;
	border-radius: 3px;
}

.menuBarItem{
	background-color: #27CDE8;	border-radius: 3px;
	float: left;
	width: 50%;
}

/*
  Id
*/

#menuBar{
	background-color: #38FF6F;
	z-index: 5;
	border: 3px solid #e860fc;
	border-radius: 3px;
}

#menuBar:after{
	content: '';
	display: inline-block;
}

#mainContainer{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#canvasContainer{
	width: 500px;
	height: 500px;
}

#aboutPage{
	font-style: "Times New Roman";
	display: block;
	z-index: -1;
}

#gamePage{
	font-style: "Times New Roman";
	width: 100px;
	height: 100px;
	z-index: -1;
}